
/* MEDIA QUERIES */
@media screen and (max-width: 425px) {
    * {
        margin: 0 auto; 
        font-family: sans-serif;
        font-family: 'Helvetica Neue', sans-serif;
    }
    
    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0 auto;
        overflow-x: hidden;
        text-align: center;
    }

    img {
        height: 150px; 
        width: 300px;
    }
    
    article {
        margin: 5% 10%;
    }
    
    article p {
        margin-bottom: 20px;
        font-size: 12px;
    }

    .article-container img {
        width: 300px;
        margin-top: 5%;
        margin-bottom: 20px;
        margin-left: -5%;
    }

    /* NAVBAR */
    h1 {
        width: calc(100% - 160px);
        text-align: center;
        font-size: 24px;
        font-weight: bolder;
        color: white;
    }

    .item-menu {
        font-weight: bold;
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    header {
        padding-top: 0;
        position: relative;
    }

    .top {
        position: relative;
        text-align: right;
        margin-right: 5%;
        color: white;
        width: 99%;
    }

    .logo-container {
        margin-right: 12.5%;
        margin-top: -10%;    
    }

    .top a.menu-icon i {
        position: relative;
        color: black;
        font-size: 40px;
        font-weight: bolder;
        margin-top: 20px;
        margin-right: 10px;
        transition: .2s ease;
        text-decoration: none;
    }

    .close-menu-container {
        border-bottom: 1px solid black;
        text-align: right;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .menu-icon-close {
        width: 100%;
    }

    .menu-icon-close i{
        width: 40px;
        height: 40px;
        font-size: 40px;
    }
    
    .top a.menu-icon:hover i {
        color: black;
    }
    
    nav.menu {
        width: 100%;
        min-height: calc(46vh - 70px);
        padding-top: 2.5%;
        background-color: white;
        position: fixed;
        top: -375px;
        transition: .3s all;
    }
    
    nav.menu > a {
        display: block;
        padding: 5px;
        margin: 20px 20px 0px 20px;
        color: #333;
        text-align: left;
        text-decoration: none;
        border-bottom: 1px solid #666;
        font-family: 'Helvetica Neue', sans-serif;
    }

    .nav-signup-container p {
        font-weight: bold;
        margin-top: 20px;
    }

    .nav-signup {
        margin-top: 5px;
        border: none;
        background-color:#F36565;
        color: white;
        padding: 10px;
        margin-bottom: 20px;
        width: 120px;
        height: 40px;
    }
    
    main {
        width: 100%;
        box-sizing: border-box;
    }
    
    main h1 {
        color: black;
        font-size: 32px;
    }
    .menu-show {
        margin-top: 360px !important;
        border-top: 1px solid black;
        background-color: rgba(255, 255, 255, 0.6);
    }
    
    /* SPLASH */
    .splash-container {
        top: 0;
        width: 100%;
    }
    
    .splash {
        background-image: url('../images/picturecollabation.png');
        background-size: cover;
        width: 100%;
        height: 600px;
        margin-bottom: 40px;
    }
    
    .top-button-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 305px;
        background-color: rgba(0, 0, 0, 0.7);
    }
    
    .top-button-container-text{
        color: white;
        padding-bottom: 10px;
        font-family: 'Helvetica-Neue';
        font-weight: bold;
        font-size: 18px;
    }
    .sign-up-top {
        color: white;
        background-color:#F36565;
        border: none;
        height: 40px;
        width: 120px;
    }

    .sign-up-top:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }

    /* ABOUT */
    .about-header {
        margin-bottom: 20px;
        width: 100%;
    }

    .about {
        margin-left: 20px;
        margin-right: 20px;
    }

    .about-article {
        margin-bottom: 20px;
    }
    
    /* HIGHLIGHTS */
    .highlights {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .highlights-header {
        border-top: 1px solid black;
        width: 100%;
        padding-top: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .highlights-pictures {
        display: flex;
        flex-direction: column;
    }

    /* NEXT MEETUP */
    .next-meetup {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }
    
    .next-meetup-header {
        border-top: 1px solid black;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
        padding-top: 20px;
    }

    .next-meetup-pictures {
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    .next-meetup-pictures img {
        max-height: 200px;
        max-width: 150px;
    }

    .date-container {
        margin-top: 10px;
        font-family: 'Helvetica Neue', sans-serif;
    }

    /* FOOTER */
    
    footer {
        border-top: 1px solid black;
        margin-top: 20px;
        width: 100%;
        margin-bottom: 20%;
        margin-right: 20px;
        position: absolute;
        display: flex;
        flex-direction: column;
    }
    
    footer h3 {
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }

    footer p {
        width: 100%;
        text-align: center;
    }

    /* BOTTOM BUTTON */
    .bottom-button-container {
        display: flex;
        flex-direction: column;
        left: 0;
        width: 100%;
        justify-content: center;
        margin-left: -30px;
        padding-left: 30px;
        margin-bottom: 20%;
    }
    
    .bottom-button-container p {
        margin-top: 10px;
        font-weight: 600;
    }
    .sign-up-bottom {
        margin-top: 20px;
        text-align: center;
        justify-content: center;
        padding: 10px 10px;
        width: 120px;
        height: 40px;
        color: white;
        background-color: #F36565;
        border: none;
    }
    
    .sign-up-bottom:hover {
        cursor: pointer;
    }
@media screen and (max-width: 360px) {
	nav.menu {
		width: 100%;
        left: -100%; 
        visibility: hidden;
    }
    
}